{% extends "layout.html" %}

{% block mainBody %}
<div class="container">
<!-- profile -->
<div class="container-fluid">
	<div class="row">
		<div class="container-fluid pt-4 pb-4">
			<center>
				<img class="rounded-circle" src="man.jpg" width="80px" height="80px">
				<strong><h4 class="pt-2" style="font-family:Fira Sans;">Hemendra Khatik</h4></strong>
				<strong>
					<p class="text-secondary">ProjectManager @innovation</p>
				</strong>
				<h5>Huge fan of HTML, CSS and Javascript. Web design and open source lover.</h5>
			</center>
		</div>
    </div>
</div>
</div>
<!-- inner navbar -->
<nav class="innerNav pt-2">
	<center>
		<strong><p>Home Contact Story FAQs</p></strong>
	</center>
</nav>
<!-- containers -->
<div class="container">
	<div class="row p-4">
		<div class="col">
			<div class="card box border-primary mb-3" style="max-width: 18rem;">
			  <div class="card-body">
			    <center><h5 class="p-4">Projects</h5></center>
			  </div>
			</div>
		</div>
		<div class="col">
			<div class="card box border-primary mb-3" style="max-width: 18rem;">
			  <div class="card-body">
			    <center><h5 class="p-4">Current Project</h5></center>
			  </div>
			</div>
		</div>
		<div class="col">
			<div class="card box border-primary mb-3" style="max-width: 18rem;">
			  <div class="card-body">
			    <center><h5 class="p-4">Skills</h5></center>
			  </div>
			</div>
		</div>
		<div class="col">
			<div class="card box border-primary mb-3" style="max-width: 18rem;">
			  <div class="card-body">
			    <center><h5 class="p-4">Achivements</h5></center>
			  </div>
			</div>
		</div>
	</div>
</div>
<!-- conatiners end -->
<hr>
<h2>Blog Posts</h2>
{% endblock %}
