<!DOCTYPE html>
<html>
<head>
	<title>OpenProfile SignUp</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login-and-signup.css') }}">
</head>
<body>
	<div class="container-fluid" style="background-color: black; color:white;">
    <div class="row height">
        <h2 class="p-4">OpenProfile</h2>
        <div class="box">
          <h4 class="mb-4 text-center">Welcome Back<br><br>Login</h4>
            <form action="{{ url_for('vlogin') }}" method="POST">
              <div class="inputBox">
                <input type="text" id="email" name="email" autocomplete="off" required>
                <label for="email" class="fas fa-envelope input-icon"> Email</label>
              </div>
              <div class="inputBox">
                <input type="password" id="password" name="password" autocomplete="off" required>
                <label for="password" class="fas fa-lock input-icon"> Password</label>
              </div>
              <center>
                <button class="btn btn-success" type="submit">Login</button>
              </center>
              <p style="color: white;text-align: center;" class="mt-4">Don't have an account<a href="{{ url_for('signup') }}"> Create here.</a></p>
            </form>
          </div>
        </div>
      </div>  
</body>
</html>